# {{ ansible_managed }}

{{ item.home }}/var/log/php-fpm/php5-fpm.log {
        rotate 12
        weekly
        missingok
        notifempty
        compress
        delaycompress
        postrotate
                {{ item.home }}/usr/lib/php5/php5-fpm-reopenlogs
        endscript
}
